body {
  margin: 0;
  overflow: hidden;
  background-color: #eef2f3;
  height: 100vh;
}

#pet {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-image: url('pet.gif'); /* pode usar .png ou .gif animado */
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
